{
    "version": "0.2.0",
    "configurations": [
        {
            "type": "lldb",
            "request": "launch",
            "name": "Debug with lldb",
            "cargo": {
                "args": [
                    "build",
                    "--bin=hash_rust",
                    "--package=hash_rust"
                ],
                "filter": {
                    "kind": "bin"
                }
            },
            "args": [
                // Windows example: "C:\\Users\\name\\Documents\\*.txt",
                // Unix/Linux/macOS example: "/home/user/documents/*.txt",
                "*.txt",
                "--debug",
                "--single-thread"
            ],
            "cwd": "${workspaceFolder}",
            "terminal": "integrated"
        },
        {
            "name": "Debug with cppvsdbg",
            "type": "cppvsdbg",
            "request": "launch",
            "program": "${workspaceRoot}/target/debug/hash_rust",
            "args": [
                // Windows example: "C:\\Users\\name\\Documents\\*.txt",
                // Unix/Linux/macOS example: "/home/user/documents/*.txt",
                "*.txt",
                "--debug",
                "--single-thread"
            ],
            "stopAtEntry": false,
            "cwd": "${workspaceRoot}",
        },
        {
            "type": "lldb",
            "request": "launch",
            "name": "Debug unit tests",
            "cargo": {
                "args": [
                    "test",
                    "--no-run",
                    "--bin=hash_rust",
                    "--package=hash_rust"
                ],
                "filter": {
                    "kind": "bin"
                }
            },
            "args": [],
            "cwd": "${workspaceFolder}",
            "terminal": "integrated"
        }
    ]
}